.restaurants{
    margin-left: 3%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 3%;
    grid-row-gap: 70px;
}
.singleRes{
    display: flex;
    gap:10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}
.categ{
    display: flex;
    gap:3px
}
.categ p{
    font-size: 12.5px;
    color: grey;
    margin-top: -13px;
}
.pay{
    display: flex;
    gap:5px
}
.pay p{
    font-size: 12.3px;
    margin-top: -7px; 
}
/* .pic{
    border: 1px solid red;
} */
.ncp{
    /* border: 1px solid red; */
    width: 42%;
}
.ncp h3{
    margin-top: 1px;
    margin-left: -125px;
}
.ncp .cost{
    font-size: 12.3px;
    color: grey;
    margin-top: -7px;
    margin-left: -120px;
}
.rvv{
    /* border: 1px solid red; */
    width: 20%;
}
.rvv div{
    font-size: 13px;
    background-color: green;
    color: white;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 2px;
    margin-top: 10px;
}
.rvv p:nth-child(2){
    font-size: 13px;
    color: grey;
    margin-top: 7px;
    margin-left: -30px;
}
.rvv p:nth-child(3){
    font-size: 13px;
    color: grey;
    margin-top: -10px;
    margin-left: -23px;
}





